:root {
    --white-color: hsl(0, 0%, 100%);
    --lightgrey-color: hsl(217, 12%, 63%);
    --mediumgrey-color: hsl(210, 15%, 21%);
    --darkblue-color: hsl(213, 19%, 18%);
    --verydarkblue-color: hsl(216, 12%, 8%);
    --orange-color: hsl(25, 97%, 53%);
}

body {
    background-color: black;
    font-family: 'Overpass', sans-serif;
}

.container {
    width: 90%;
    height: calc(100vh - 80px);
    margin: 40px auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--verydarkblue-color);
}

.rating-component {
    width: 375px;
    height: 375px;
    background-color: var(--darkblue-color);
    font-size: 15px;
    border-radius: 25px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px;
    padding-left: 38px;
}

.star-circle {
    border-radius: 50%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: var(--mediumgrey-color);
    margin: 10px 0;
}

.rating-component h1 {
    color: var(--white-color);
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 27px;
}

.rating-component p {
    color: var(--lightgrey-color);
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 14px;
    width: 95%;
    margin-top: 0;
}

.rating-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.rating-circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mediumgrey-color);
    color: var(--lightgrey-color);
    margin-right: 25px;
}


/* This class will be added via javascript when the button is clicked */

.orange-background {
    background-color: var(--orange-color) !important;
    color: var(--white-color);
}

.rating-circle:hover {
    background-color: var(--lightgrey-color);
    color: var(--white-color);
}

.submit {
    margin-top: 30px;
    padding: 10px;
    background-color: var(--orange-color);
    width: 94%;
    height: 47px;
    color: var(--white-color);
    border: none;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
}

.submit:hover {
    background-color: var(--white-color);
    color: var(--orange-color);
}

footer {
    margin-bottom: 30px;
}

.attribution {
    color: var(--lightgrey-color);
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--white-color);
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    .star-circle {
        width: 12px;
        height: 12px;
    }
    .star-circle img {
        width: 13px;
    }
    .rating-component {
        width: 300px;
        height: 350px;
        letter-spacing: 0;
        font-size: 13px;
        padding-left: 26px;
    }
    .rating-component h1 {
        font-size: 24px;
    }
    .rating-component p {
        letter-spacing: 0px;
    }
    .rating-circle {
        border-radius: 50%;
        width: 43px;
        height: 43px;
        margin-right: 22px;
    }
    .submit {
        margin-top: 30px;
        margin-left: 11px;
        padding: 17px;
        width: 95%;
        font-size: 14px;
    }
}